<template>
  <template>Support Vue</template>

  As an independent project, Vue relies on community backing for its
  sustainability. You can help us by
  <a href="https://vuejs.org/sponsor/" target="_blank" rel="noopener"
    >becoming a sponsor</a
  >.
</template>
