<template>
    <div class="details">
      
        <h1>Details du film</h1>
        <div class="content">
            <h3>{{film.titre}}</h3>
            <h3>{{film.id}}</h3>
        </div>
       
    </div>
</template>

<script setup>

import { useRoute } from 'vue-router'
const route = useRoute()

const film = route.query


//console.log(route);
//console.log(router);
console.log(route.query.id)
console.log(route.query.titre)



</script>
