<template>
  <div className="recherche">
    <form v-on:submit.prevent="recherche">
      <div className="input-group">
        <label>Recherche</label>
        <input type="text" v-model="uneRecherche" />

        <button v-on:click="recherche">search</button>
      </div>
    </form>
    <h2>Résultat de la recherche</h2>
    <table>
      <tr v-for="unFilm in films" v-bind:key="unFilm.key">
        <td>{{ unFilm.title }}</td>
        <td v-if="unFilm.poster_path != null" width="50px">
          <img class="img" v-bind:src="'http://image.tmdb.org/t/p/w500' + unFilm.poster_path" />
        </td>
        <td>
          <button v-on:click="voirDetails(unFilm)">Détails</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
.img {
  width: 180px;
}
</style>

<script setup>
import axios from "axios";
import { ref } from "vue";
import { useRouter } from "vue-router";
const router = useRouter();

const baseUrl = "https://api.themoviedb.org/3/search/movie";
const films = ref([]);
const uneRecherche = ref("");
const api_key = "c6553cafc31de35c2f4791915ab58338";

const recherche = async () => {
  console.log(uneRecherche.value);
  let urlComplete =
    baseUrl + "?api_key=" + api_key + "&query=" + uneRecherche.value;
  console.log(urlComplete);
  const response = await axios.get(urlComplete);
  films.value = response.data.results;
};

const voirDetails = (film) => {
  router.push({
    path: "details",
    query: {
      id: film.id,
      titre: film.title,
    },
  });
};
</script>
